.movie-card {
  transition: 0.15s;

  &:hover {
    z-index: 8;
    transform: scale(1.1);
  }

  & .card-header {
    position: relative;
    height: 350px;
    width: 280px;
    margin-bottom: 1em;

    & img {
      border-radius: 0.25em;
    }
  }

  & .card-body h4 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
  }
}
